{% extends 'base.html' %} {% block content %}
<div class="container">
  <h2>Вход</h2>
  <form method="post">
    {% csrf_token %} {{ form.non_field_errors }}
    <div>
      {{ form.email.label_tag }}<br />
      {{ form.email }} {{ form.email.errors }}
    </div>
    <div>
      {{ form.password.label_tag }}<br />
      {{ form.password }} {{ form.password.errors }}
    </div>
    <button type="submit">Войти</button>
  </form>
  <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
</div>
{% endblock %}
