{% extends 'base.html' %} {% block content %}
<div class="container">
  <form method="POST">
    {% csrf_token %}
    <h2>Sign in</h2>
    <label for="username">Username</label>
    <input type="text" name="username" id="username" placeholder="Username" />
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Password"
    />
    <button type="submit">Sign in</button>
    <div class="google">
      <img
        src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png"
        alt="Google icon"
      />
      <a href="#"><h3>Log in with Google</h3></a>
    </div>
  </form>
</div>
{% endblock %}
