{% extends "posts/base.html" %} {% block content %}
<h1>Вакансии</h1>
<a href="{% url 'vacancy_create' %}">➕ Добавить вакансию</a>
<ul>
  {% for vacancy in vacancies %}
  <li>
    <a href="{% url 'vacancy_detail' vacancy.pk %}">
      {{ vacancy.title }} — {{ vacancy.posted_at }}
    </a>
    <form
      action="{% url 'vacancy_delete' vacancy.pk %}"
      method="post"
      style="display: inline"
    >
      {% csrf_token %}
      <button type="submit">🗑 Удалить</button>
    </form>
  </li>
  {% empty %}
  <li>Нет вакансий 😢</li>
  {% endfor %}
</ul>
{% endblock %}
